.a-wiki-mine {
  flex: 1;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--var-card-background-color);
  .content {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
}
