.a-disk-contextmenu {
  width: 160px;
  position: fixed;
  z-index: 1000;
  padding: 6px 4px;
  border-radius: 6px;
  box-shadow: 0 3px 12px 2px rgba(55, 60, 67, .12);
  background-color: var(--var-card-background-color);
  .menu {
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    > i {
      font-size: 16px;
      margin-right: 8px;
    }
    &:hover {
      color: var(--var-theme-primary-4);
      background-color: var(--var-menu-actived-color);
    }
    &.menu--danger:hover {
      color: var(--el-color-danger);
    }
  }
  .divider {
    height: 1px;
    margin: 4px 12px;
    background-color: var(--var-menu-border-color);
  }
}
