@use "../../common/variable.scss" as *;

.a-worker-disk {
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding: $var-page-body-padding;
  @import './disk/drawer.scss';
  @import './disk/mine.scss';
  @import './disk/trash.scss';
}

@import './disk/window.scss';
@import './disk/contextmenu.scss';
